{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load cart %}
{% load custom_filter %}
<header id="d_header">
  <nav>
      <a href="/store" class="sans left_link">New Arrivals</a>
      <a href="/cart" class="sans right-link"><img src="{% static 'icons/light bag.svg' %}" alt="Shopping Bag" style="height: 1.8rem;"></a>
      <a href="#" class="sans right-link" id="profile"><img src="{% static 'icons/light profile.svg' %}" alt="User Profile" style="height: 1.8rem;"></a>
      <!-- profile dropdown -->
      <div class="dropdown" id="dd">
          <ul>
              <li class="dd_ele sans"><a href="/profile" class="dd_ele_link">Profile</a></li>
              <li class="dd_ele sans"><a href="/orders" class="dd_ele_link">Orders</a></li>
              <li class="dd_ele sans"><a href="/store" class="dd_ele_link">Favourites</a></li>
              {% if request.session.customer %}
              <li class="dd_ele sans" id="ls"><a href="/logout" class="dd_ele_link">Log Out</a></li>
              {% else %}
              <li class="dd_ele sans"><a href="/login" class="dd_ele_link">Login/Sign Up</a></li>
              {% endif %}
          </ul>
      </div>
      <div class="search__container right-link">
          <input class="search__input" type="text" placeholder="Search">
      </div>
  </nav>
</header>

<section class="cart_banner">
  <div class="banner_container">
      <img src="{% static 'images/tiles/homepage_cover.jpg' %}" alt=" Rings tile photo" class="banner_img">
      <img src="{% static 'banner-title/Cart.svg' %}" alt="Rings written in script font" class="page_title cart_page_title">
  </div>
</section>

<section class="cart_container">
  <h4 class="cart_title sans">Cart Items</h4>
  <div class="cart">
      <div class="cart_items_container">
        {% for product in products %}
          <div class="cart_items">
            <img src="{{product.image.url}}" alt="" class="cart_item_img">
              <div class="item_desc">
                  <h5 class="cart_item_name serif">{{product.name}}</h5>
                  <p class="cart_item_prop sans">{{product.description}}</p>
                  <p class="item_id sans">{{product.price|currency}}</p>
              </div>
              <div class="item_qnty">
                  <label for="qnty" class="sans qnty_label">Quantity</label>
                  <h3>{{product|cart_quantity:request.session.cart}}</h3>
              </div>
              <h4 class="item_price serif"><span>{{product|price_total:request.session.cart|currency}}</span></h4>
              <!-- <h4 class="item_price2 serif">$<span>{{product|price_total:request.session.cart|currency}}</span></h4> -->
              <div class="cart_btn">
                  <div class="save_item_btn">
                      <button class="material-icons-outlined">favorite</button>
                  </div>
                  <div class="delete_item_btn">
                    <button class="material-icons-outlined"><a href="{% url 'delete_p' product.id %}"  onclick="return confirm('Do you really want to remove product?')">delete</a></button>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="price_container">
            <h3 class="add_title serif">Delivery Address</h3>
            <div class="user_add">
                <h4 class="serif" id="name_on_add">Alex Rider</h4>
                <p class="sans" id="add">221B, Baker Street, Floral Park<br>near John's Bakery</p>
                <p class="sans" id="city_on_add">London, 11001 <br>Contact Number: 2345763452</p>
            </div>
            <h5 class="change_add sans">Change/Add Address</h5>  
          <h3 class="recipt_title serif">Your Order</h3>
          <h5 class="sub_total sans">Sub-total:</h5><h5 class="sub_total_p sans"><span>{{products|total_cart_price:request.session.cart|currency}}</span></h5>
          <!-- <h5 class="discount sans">Discount:</h5><h5 class="discount_p sans"><span>64.40</span></h5> -->
          <div class="dlvry">
              <label for="dlvry" class="sans dlvry_label">Delivery Type:</label>
                  <select name="dlvry" id="dlvry">
                      <option value="express">Express Delivery (One Day) +$5</option>
                      <option value="regular">Normal Delivery (3-4 Days)</option>
                    </select>
          </div>
          <h5 class="dlvry_p sans">$<span>5.00</span></h5>
          <h5 class="vat sans">VAT (20%):</h5><h5 class="vat_p sans">$<span>60.00</span></h5>
          <h5 class="total sans">Total:</h5><h5 class="total_p sans"><span>{{products|total_cart_price:request.session.cart|currency}}</span></h5>
          
          <div id="paypal-button-container" class="pay_btn">
          </div>

      </div>
      </div>
</section>

 <!-- Address popup -->

<div class="popup_container">
    <form action="/check-out" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="">Address</label>
          <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
          
        </div>
        <div class="form-group">
            <label for="">Phone</label>
            <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
          </div>

          <input type="submit" class="btn float-right btn-outline-info col-lg-6" value="Check out">
    </form>
</div>

  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>
      $("#profile").mouseenter(function() {
          $('#dd').addClass('drop_hover_enter');
      });
      $("#dd").mouseleave(function() {
          $('#dd').removeClass('drop_hover_enter');
      });
            
  </script>
  <script src="https://www.paypal.com/sdk/js?client-id=Ad1sbmsltKEIiEuBT42h6EN0qb0vxbaL-lhTI4nlH8K79P2sCLHiQd5SHKnta0pBHyttbiQmdpLgD09v&currency=USD"></script>
  <script>
    // Render the PayPal button into #paypal-button-container
    var amt2= "{{product.price}}";
    var amt = 20;
    //console.log(amt2);
    paypal.Buttons({

      style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: amt
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }


    }).render('#paypal-button-container');
</script>

{% endblock %}