{% extends 'base.html' %}
{% load static %} 
{% block content %}

{% load cart %}
{% load custom_filter %}
<header id="d_header">
    <nav>
        <a href="/store" class="sans left_link">New Arrivals</a>
        <a href="/cart" class="sans right-link"><img src="{% static 'icons/light bag.svg' %}" alt="Shopping Bag" style="height: 1.8rem;"></a>
        <a href="#" class="sans right-link" id="profile"><img src="{% static 'icons/light profile.svg' %}" alt="User Profile" style="height: 1.8rem;"></a>
        <!-- profile dropdown -->
        <div class="dropdown" id="dd">
            <ul>
                <li class="dd_ele sans"><a href="/profile" class="dd_ele_link">Profile</a></li>
                <li class="dd_ele sans"><a href="/orders" class="dd_ele_link">Orders</a></li>
                <li class="dd_ele sans"><a href="/favorite" class="dd_ele_link">Favourites</a></li>
                {% if request.session.customer %}
                <li class="dd_ele sans" id="ls"><a href="/logout" class="dd_ele_link">Log Out</a></li>
                {% else %}
                <li class="dd_ele sans"><a href="/login" class="dd_ele_link">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="search__container right-link">
            <input class="search__input" type="text" placeholder="Search">
        </div>
    </nav>
</header>
<!-- body -->
<section class="banner">
	<div class="banner_container">
		<img src="{% static 'images/tiles/ring_tile.jpg' %}" alt=" Rings tile photo" class="banner_img">
		<img src="{% static 'banner-title/Bracelets.svg' %}" alt="Rings written in script font" class="page_title">
	</div>
</section>

<!-- filter -->

<div class="product_grid">
	<div class="pg_container">
		<div class="filter_container">
			<div class="filter_ele">
				<h5 class="filter_title serif">Category</h5>
				<ul>
					<li class="f_list_item sans"><input type="radio" name="category"><a href="/store">All Products</a>
				{% for category in categories %}
				<li class="f_list_item sans"><input type="radio" name="category"><a href="/?category={{category.id}}">{{category.name}}</a></li>
					
				{% endfor %}
			</div>

			<div class="filter_ele">
				<h5 class="filter_title serif">Material</h5>
				<ul>
					<li class="f_list_item sans"><input id="alu" type="checkbox"><label for="alu">Aluminum</label></li>
					<li class="f_list_item sans"><input id="brass" type="checkbox"><label for="brass">Brass</label></li>
					<li class="f_list_item sans"><input id="bronze" type="checkbox"><label for="bronze">Bronze</label></li>
					<li class="f_list_item sans"><input id="copper" type="checkbox"><label for="copper">Copper</label></li>
					<li class="f_list_item sans"><input id="nickel" type="checkbox"><label for="nickel">Nickel Silver</label></li>
					<li class="f_list_item sans"><input id="steel" type="checkbox"><label for="steel">Stainless Steel</label></li>
					<li class="f_list_item sans"><input id="titanium" type="checkbox"><label for="titanium">Titanium</label></li>
				</ul>
			</div>
			<div class="filter_ele">
				<h5 class="filter_title serif">Color</h5>
				<ul>
					<li class="f_list_item sans"><input type="checkbox" id="red"><label for="red">Red</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="blue"><label for="blue">Blue</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="green"><label for="green">Green</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="gray"><label for="gray">Gray</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="black"><label for="black">Black</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="yellow"><label for="yellow">Yellow</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="purple"><label for="purple">Purple</label></li>
				</ul>
			</div>
			<div class="filter_ele">
				<h5 class="filter_title serif">Price</h5>
				<ul>
					<li class="f_list_item sans"><input type="checkbox" id="less-10"><label for="less-10">Under $10</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="10-20"><label for="10-20">$10 - $20</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="20-40"><label for="20-40">$20 - $40</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="40-60"><label for="40-60">$40 - $60</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="60-80"><label for="60-80">$60 - $80</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="80-100"><label for="80-100">$80 - $100</label></li>
					<li class="f_list_item sans"><input type="checkbox" id="abv-100"><label for="abv-100">Above $100</label></li>
				</ul>
			</div>
		</div>
		

		<!-- all products -->
		
			<div  id='products' class="product_gallery">
				{% for product in products %}	
				<div class="product_card" id= "{{product.id}}">
					<a href="#" class="img_link" ><img class="prod_img" src="{{product.image.url}}" alt="Card image cap"></a>
						<p class="prod_name serif">{{product.name}}</p>
						<p class="prod_price serif">{{product.price|currency}}</p>
						<!-- {{product | is_in_cart:request.session.cart }} -->

						<form action="/#{{product.id}}" method="POST" class="a_btn">
							{% csrf_token %}
							<button type="submit" class="add_cart_btn" value="Add"><span id="plus" class="material-icons-outlined">add</span></button>
							<input hidden type="text" name='product' value='{{product.id}}'>
						</form>
						<form action="/#{{product.id}}" method="POST" class="fav_btn">
							{% csrf_token %}
							<button type = "submit" value = "" class="material-icons-outlined">favorite</button>
							<input hidden type="text" name='product' value='{{product.id}}'>
						</form>
				</div>
				{% endfor %}
			</div>
			<div class="pagination_container">
				<div class="pagination">
					<a href="#" class="pagi_num_link sans material-icons">chevron_left</a>
					<a href="#" class="pagi_num_link pagi_num pagi_num_select sans">1</a>
					<a href="#" class="pagi_num_link pagi_num sans">2</a>
					<a href="#" class="pagi_num_link pagi_num sans">3</a>
					<a href="#" class="pagi_num_link pagi_num sans">4</a>
					<a href="#" class="pagi_num_link pagi_num sans">5</a>
					<a href="#" class="pagi_num_link sans material-icons">chevron_right</a>
				</div>
			</div>

		
	</div>
</div>
{% for product in products %}
<section class="prod_view_popup">
	<div class="close_btn">
		<button class="material-icons-outlined">close</button>
	</div>
    <div class="prod_popup_imgs">
		<img src="{{product.image.url}}" alt="Ring 1 thumbnail image" id="pop_img_1">
		<img src="{{product.image.url}}" alt="Ring 1 side image" id="pop_img_2">
		<img src="{{product.image.url}}" alt="Ring 1 top image" id="pop_img_3">
		<img src="{{product.image.url}}" alt="Ring 1 close up image" id="pop_img_4">
	</div>
	<div class="prod_popup_info">
		<h6 class="prod_name serif">Ring 1</h6>
		<p class="popup_prod_desc sans">This is a test, Red color, Silver.</p>

		<div class="quantity buttons_added">
			<label class="sans">Quantity</label><br>
			<input type="button" value="-" class="minus">
			<input type="number" step="1" min="1" max="5" name="quantity" value="1" title="Qty" class="input-text qty text sans" size="4" pattern="" inputmode="">
			<input type="button" value="+" class="plus">
		</div>

		<h4 class="prod_price serif"><span>$</span>22</h4>
		<form action="/#{{product.id}}" method="POST" class="cta">
			{% csrf_token %}
			<input type="submit" class="serif" value="Add to Bag"></input>
			<input hidden type="text" name='product' value='{{product.id}}'>
		</form>
	</div>
</section>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $("#profile").mouseenter(function() {
            $('#dd').addClass('drop_hover_enter');
        });
        $("#dd").mouseleave(function() {
            $('#dd').removeClass('drop_hover_enter');
        });

		$(".prod_img").click(function() {
            $('.prod_view_popup').toggleClass('open_popup');
        });
		$(".close_btn").click(function() {
            $('.prod_view_popup').toggleClass('open_popup');
        });

		// js for quantity btn

		function wcqib_refresh_quantity_increments() {
    jQuery("div.quantity:not(.buttons_added), td.quantity:not(.buttons_added)").each(function(a, b) {
        var c = jQuery(b);
        c.addClass("buttons_added"), c.children().first().before('<input type="button" value="-" class="minus" />'), c.children().last().after('<input type="button" value="+" class="plus" />')
    })
}
String.prototype.getDecimals || (String.prototype.getDecimals = function() {
    var a = this,
        b = ("" + a).match(/(?:\.(\d+))?(?:[eE]([+-]?\d+))?$/);
    return b ? Math.max(0, (b[1] ? b[1].length : 0) - (b[2] ? +b[2] : 0)) : 0
}), jQuery(document).ready(function() {
    wcqib_refresh_quantity_increments()
}), jQuery(document).on("updated_wc_div", function() {
    wcqib_refresh_quantity_increments()
}), jQuery(document).on("click", ".plus, .minus", function() {
    var a = jQuery(this).closest(".quantity").find(".qty"),
        b = parseFloat(a.val()),
        c = parseFloat(a.attr("max")),
        d = parseFloat(a.attr("min")),
        e = a.attr("step");
    b && "" !== b && "NaN" !== b || (b = 0), "" !== c && "NaN" !== c || (c = ""), "" !== d && "NaN" !== d || (d = 0), "any" !== e && "" !== e && void 0 !== e && "NaN" !== parseFloat(e) || (e = 1), jQuery(this).is(".plus") ? c && b >= c ? a.val(c) : a.val((b + parseFloat(e)).toFixed(e.getDecimals())) : d && b <= d ? a.val(d) : b > 0 && a.val((b - parseFloat(e)).toFixed(e.getDecimals())), a.trigger("change")
});
              
    </script>

{% endblock %}