{% extends 'base.html' %}
{% load static %}

{% block content %}

<header id="d_header">
    <nav>
        <a href="/store" class="sans left_link">New Arrivals</a>
        <a href="/cart" class="sans right-link"><img src="{% static 'icons/light bag.svg' %}" alt="Shopping Bag" style="height: 1.8rem;"></a>
        <a href="#" class="sans right-link" id="profile"><img src="{% static 'icons/light profile.svg' %}" alt="User Profile" style="height: 1.8rem;"></a>
        <!-- profile dropdown -->
        <div class="dropdown" id="dd">
            <ul>
                <li class="dd_ele sans"><a href="/profile" class="dd_ele_link">Profile</a></li>
                <li class="dd_ele sans"><a href="/orders" class="dd_ele_link">Orders</a></li>
                <li class="dd_ele sans"><a href="/store" class="dd_ele_link">Favourites</a></li>
                {% if request.session.customer %}
                <li class="dd_ele sans" id="ls"><a href="/logout" class="dd_ele_link">Log Out</a></li>
                {% else %}
                <li class="dd_ele sans"><a href="/login" class="dd_ele_link">Login/Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="search__container right-link">
            <input class="search__input" type="text" placeholder="Search">
        </div>
    </nav>
</header>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        $("#profile").mouseenter(function() {
            $('#dd').addClass('drop_hover_enter');
        });
        $("#dd").mouseleave(function() {
            $('#dd').removeClass('drop_hover_enter');
        });
              
    </script>

{% endblock %}